.navbar {
  z-index: 99;
}

/* body {
  padding-top: 8em;
} */

.sliderFade {
  animation: fade 0.5s ease;
}

.sliderThumb .sliderMainImage {
  cursor: pointer;
}

@keyframes fade {
  0% {opacity: 0;}
  100% {opacity: 1;}
}


/* 0616 */
/* carousel */
#myCarousel {
  z-index: 1;
}
#myCarousel .carousel-item img {
  min-height: 600px;
  max-height: 768px;
  margin-top: -200px;
  object-fit: cover;
}
/* carousel002 */
#myCarousel002 {
  z-index: 1;
}
#myCarousel002 .carousel-item img {
  min-height: 600px;
  max-height: 768px;
  margin-top: -200px;
  object-fit: cover;
}

/* 俊彥的history */
.masthead {
  height: 400px;
  background-color: #fa0;
  background: center no-repeat fixed;
  background-size: cover;
  color: rgb(0, 0, 0);
  text-align: center;

}
.masthead h1 {
  font-size: 3em;
  position: relative;
  text-align: center;
  padding-top: 50px;
}
.masthead h3 {
  font-size: 1.2em;
  position: relative;
  text-align: center;
}
.color-overlay {
  position: relative;
  background-color: rgba(0, 0, 0, 0.2);
  height: 100%;
  width: 100%;
}
@media (max-width:1279px) and (min-width:768px) {
  .masthead {
    min-height: 30vh;
    font-size: smaller;
    color: rgb(0, 0, 0);
  }
  .masthead h1 {
    position: relative;
    /*  font-size: calc(1.525rem + 3.3vw);  測試 */
    color: white;
    padding-top: 50px;
  }
  .masthead h3 {
    position: relative;
    color: white;
  }
  .buttonsmall h {
    font-size:small;
  }
}
@media (max-width: 767px) {
  .masthead {
    min-height: 30vh;
    font-size: smaller;
    color: rgb(0, 0, 0);
    padding-top:50px;
  }
  .masthead h1 {
    position: relative;
    /*  font-size: calc(1.525rem + 3.3vw);  測試 */
    color: white;
    padding-top: 50px;
  }
  .masthead h3 {
    position: relative;
    color: white;
  }
  .buttonsmall h {
    font-size:small;
  }
}
/* 俊彥的 history */

/* 以下左側nav */
nav {
  z-index: 5;
}
.nav-mine001 li {
  position: relative;
}
.nav-mine001 li.active a::after {
  height: 80px;
  opacity: 1;
  margin: 8px auto;
}
.nav-mine001 li:nth-child(1):hover::before {
  content: "都蘭之美";
  position: absolute;
  width: max-content;
  left: 40px;
  top: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  padding: 4px;
  padding-right: 10px;
  border-radius: 5px;
}
.nav-mine001 li:nth-child(2):hover::before {
  content: "都蘭歷史";
  position: absolute;
  width: max-content;
  left: 40px;
  top: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  padding: 4px;
  padding-right: 10px;
  border-radius: 5px;
}
.nav-mine001 li:nth-child(3):hover::before {
  content: "都蘭自然";
  position: absolute;
  width: max-content;
  left: 40px;
  top: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  padding: 4px;
  padding-right: 10px;
  border-radius: 5px;
}
.nav-mine001 li:nth-child(4):hover::before {
  content: "都蘭人文";
  position: absolute;
  width: max-content;
  left: 40px;
  top: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  padding: 4px;
  padding-right: 10px;
  border-radius: 5px;
}
.nav-mine001 li:nth-child(5):hover::before {
  content: "都蘭小房子";
  position: absolute;
  width: max-content;
  left: 40px;
  top: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  padding: 4px;
  padding-right: 10px;
  border-radius: 5px;
}
.nav-mine001 li:nth-child(6):hover::before {
  content: "都蘭天主堂";
  position: absolute;
  width: max-content;
  left: 40px;
  top: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  padding: 4px;
  padding-right: 10px;
  border-radius: 5px;
}
.nav-mine001 li:nth-child(7):hover::before {
  content: "頁尾";
  position: absolute;
  width: max-content;
  left: 40px;
  top: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  padding: 4px;
  padding-right: 10px;
  border-radius: 5px;
}

.nav-mine001 .nav-link {
  padding: 0;
  width: 35px;
  height: 35px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.3);
  clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
}
.nav-mine001 .active {
  padding: 0;
  width: 35px;
  height: 35px;
  content: "";
  background: url('https://upload.cc/i1/2022/06/14/7XqIU8.gif') no-repeat center center;
  filter: grayscale(1);
  transition: all .5s;
}

/* page第二頁 */
.nav-mine002 li {
  position: relative;
}
.nav-mine002 li.active a::after {
  height: 80px;
  opacity: 1;
  margin: 8px auto;
}

.nav-mine002 li:nth-child(1):hover::before {
  content: "都蘭之美";
  position: absolute;
  width: max-content;
  left: 40px;
  top: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  padding: 4px;
  padding-right: 10px;
  border-radius: 5px;
}
.nav-mine002 li:nth-child(2):hover::before {
  content: "都蘭店家1";
  position: absolute;
  width: max-content;
  left: 40px;
  top: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  padding: 4px;
  padding-right: 10px;
  border-radius: 5px;
}

.nav-mine002 li:nth-child(3):hover::before {
  content: "都蘭店家2";
  position: absolute;
  width: max-content;
  left: 40px;
  top: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  padding: 4px;
  padding-right: 10px;
  border-radius: 5px;
}
.nav-mine002 li:nth-child(4):hover::before {
  content: "頁尾";
  position: absolute;
  width: max-content;
  left: 40px;
  top: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  padding: 4px;
  padding-right: 10px;
  border-radius: 5px;
}
.nav-mine002 .nav-link {
  padding: 0;
  width: 35px;
  height: 35px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.3);
  clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
}
.nav-mine002 .active{
  padding: 0;
  width: 35px;
  height: 35px;
  content: "";
  background: url('https://upload.cc/i1/2022/06/14/NlrWQO.gif') right top;
  filter: grayscale(1);
  transition: all .5s;
}
/* 以上nav */


/* 昭的開始 */
.main {
  width: 100%;
  max-width: auto;
  padding-left: 20px;
  padding-right: 20px;
  margin: 60px 0 auto auto;

}
#cf img {
  max-width: 100%;
  height: auto;
  width: 100%;
}
#f2 {
  display: flex;
  background-image: linear-gradient(rgb(169, 231, 252), rgba(223, 221, 202, 0.575));
}
.row3 {
  display: flex;
  background-image: linear-gradient(rgb(193, 226, 172), rgba(247, 242, 196, 0.842));
}
.bg {
  max-width: 100%;
  padding: 60px 40px 0;
  text-align: center;
}
.c-heading {
  color: #4f2e13;
  font-size: 44px;
  font-size: 4.4rem;
  letter-spacing: 0.15em;
}
.text {
  margin-top: 3em;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 2.5;
  letter-spacing: 0.15em;
}
.btn2 {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px, rgba(0, 0, 0, .14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1), opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform, opacity;
  z-index: 0;
}
.btn2 {
  transition-duration: 0.4s;
}
.btn2:hover {
  background-color: #f5ea5ab2;
  /* Green */
}

.p-top-shop__img {
  margin-right: -1000px;
  margin-left: 100px;
  margin-top: 250px;
}
.animate__animated.animate__bounce {
  --animate-duration: 1s;
}
.animate__animated.animate__fadeInLeft {
  --animate-duration: 3s;
}
.figure {
  position: relative;
  width: auto;
  /* can be omitted for a regular non-lazy image */
  max-width: 100%;
}
.animate__slideInRight:hover {
  -webkit-animation: slideInRight 1s;
  animation: slideInRight 1s;
}
#cf {
  position: relative;
  height: 50vh;
  width: 720px;
  margin: 0 auto;
}
#cf img {
  position: absolute;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}
#cf img.top:hover {
  opacity: 0;
}
#cf img.top {
  opacity: 1;
}
#f1 {
  display: flex;
  background-image: linear-gradient(rgb(193, 226, 172), rgba(247, 242, 196, 0.842));
}
@media screen and (max-width: 768px) {
  #art2 {
    padding-bottom:50vh;
  }
}
* { box-sizing: border-box; }
/* 昭的結束 */



/* j part*/
#j-background-color{
  display: flex;
  background-image: linear-gradient(rgb(171, 201, 233), rgba(227, 179, 242, 0.632));
}
#jtext{
  margin-top: 8px;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 2.5;
  letter-spacing: 0.15em;
}

@media screen and (max-width: 768px) {
  .jtitle {
  max-width: 100%;
  padding: 110px 40px 0;
  text-align: center;
}
}

.jbcakgroud {
  width: 100%;
  max-width: auto;
  margin:auto auto;

}

/* j part */ 

/* scrollspy article */
.article {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
}